@media screen and (min-width :768px) and (max-width :991.98px){

   
   .card-header{
    width:12rem!important;

   } 
   .about-card .card{

    padding-left:1rem;
    position: relative;
    left: -3rem;

   }
    .img-layer .card{
        width: 18rem !important;
    }
        .planBox,.plan{
            margin-bottom: 1.5rem;
        }
        .address{
            margin-bottom: 1.5rem;
        }
        .footerlist h6{
            margin-top: 1.5rem;
        }
        .lfooter{
            margin-top: .5rem;
        
            text-align: start;
        }


}